# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore macOS specific files
.DS_Store

# Ignore build directories
build/
dist/

# Ignore IDE/editor configuration files
.vscode/
.idea/
